USE [master]
GO
/****** Object:  Database [EmployeeManager]    Script Date: 3/13/2024 11:16:19 PM ******/
CREATE DATABASE [EmployeeManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HINH\MSSQL\DATA\EmployeeManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HINH\MSSQL\DATA\EmployeeManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeManager]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 3/13/2024 11:16:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[idChamCong] [int] IDENTITY(1,1) NOT NULL,
	[maNV] [nvarchar](100) NOT NULL,
	[ngayChamCong] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 3/13/2024 11:16:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[maCV] [int] IDENTITY(1,1) NOT NULL,
	[tenCV] [nvarchar](200) NULL,
	[HeSoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongNhanVien]    Script Date: 3/13/2024 11:16:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongNhanVien](
	[idLuong] [int] IDENTITY(1,1) NOT NULL,
	[maNV] [nvarchar](100) NOT NULL,
	[luongCoBan] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 3/13/2024 11:16:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [nvarchar](100) NOT NULL,
	[hoTen] [nvarchar](200) NULL,
	[diaChi] [nvarchar](200) NULL,
	[soDienThoai] [nvarchar](200) NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [int] NULL,
	[danToc] [nvarchar](200) NULL,
	[maPB] [int] NULL,
	[maCV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 3/13/2024 11:16:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[maPB] [int] IDENTITY(1,1) NOT NULL,
	[tenPB] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChamCong] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_NhanVien_ChamCong]
GO
ALTER TABLE [dbo].[LuongNhanVien]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([maCV])
REFERENCES [dbo].[ChucVu] ([maCV])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([maPB])
REFERENCES [dbo].[PhongBan] ([maPB])
GO
USE [master]
GO
